<!-- FOOTER -->

<div class="footer-widget">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1 col-md-1">
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="text-2">
          <div class="textwidget">
            <div class="footer-address">
              <a href="#">
              <img src="assets/MTGreenLOGO.png" alt="Mariposa Trails"
                width=100%>
                </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-2 col-md-2">
        <div class="text-2">
          <i>We provide trail access and promote its use for adventure, health, stewardship, education and community prosperity.</i>
        </div>
      </div>


      <div class="col-sm-2 col-md-2">
        <div class="text-2">
          <h3 class="widget-title">Support</h3>
          <div class="textwidget">
            <ul class="footer-link">
              <li><a href="/involvement.html#member">Join</a></li>
              <li><a href="/donate.html">Donate</a></li>
              <li><a href="https://forms.gle/t4R4kdvB6uA22hK48">Volunteer </a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-sm-2 col-md-2">
        <div class="text-2">
          <h3 class="widget-title">Safety</h3>
          <div class="textwidget">
            <ul class="footer-link">
              <li><a href="/safety.html#personal-safety">Personal</a></li>
              <li><a href="/safety.html#tools">Tool Use</a></li>
              <li><a href="/safety.html#library">Library</a></li>
              <li><a target="_blank" id="link-color"
                  href="documents/PARTICIPANT ACKNOWLEDGEMENT OF RISKS_180815_clear.pdf">Risk Acknowledgement</a></li>
              <li><a target="_blank" id="link-color"
                  href="documents/Covid-related Safety Protocols.pdf">Covid Protocols</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-md-2">
        <div class="text-2">
          <h3 class="widget-title">FAQ</h3>
          <div class="textwidget">
             <ul class="footer-link">
            <li><a target="_blank" href="documents/FAQ_PackLists.pdf">Pack Lists</a></li>
            <li><a target="_blank" href="documents/FAQ_TrailTendDay.pdf">Trail Work Day</a></li>
            <li><a target="_blank" href="documents/FAQ_NewVolunteer.pdf">New Volunteer</a></li>
          </ul>
           </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 col-md-1">
        </div>
        <div class="col-sm-2 col-md-2">
          <a href="https://www.facebook.com/MariposaTrailblazers" target="_blank">
            <img src="assets/facebook.png" alt="Mariposa Trails"
             style="margin-top: 1em; margin-right: .5em;">
              </a>
         </div>

        <div class="col">
          <br>
          <h2>Contact Us</h2>
          <p>You can reach Bill King through email <a href="mailto: mariposa.trails@yahoo.com">mariposa.trails@yahoo.com</a> , or call
            209-626-9898, or mail P.O. Box 5008-139 Mariposa CA 95338
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

<!-- FOOTER -->
<footer class="container">
  <p>&copy; Mariposa Trails</p>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/scripts/action.js"></script>
