<header>
  <div class="jumbotron" id="jtron-landing">
    <div class="container">
      <div class="row">
        <a href="https://mariposatrails.org/">
          <img src="/assets/MariposaTrailsLogo_BasicDesign.png" alt="trails-logo">
        </a>
      </div>
    </div>
  </div>

  <!-- Navigation Bar -->

  <nav class="navbar align-items-top navbar-expand-md ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" id="navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whoweare.html">Who We Are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whatwedo.html">What We Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/involvement.html">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donate.html">Donate</a>
        </li>
      </ul>
    </div>
  </nav>
</header>