<header>
  <div class="jumbotron" id="jtron-landing">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-1">
          <a href="https://mariposatrails.org/">
            <img src="/assets/MTGreenLOGO.png" alt="trails-logo" style="max-width: 80%;">
          </a>
        </div>

      </div>
    </div>
  </div>

  <!-- Navigation Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whoweare.html">Who We Are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whatwedo.html">What We Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/involvement.html">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donate.html">Support</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-lg btn-primary register-btn" target="_blank" href="https://www.google.com/maps/d/viewer?mid=1cK-eXqe6IX6YY26_JrNhdLB370vI92aL&ll=37.60174944115588%2C-119.79676961792443&z=12"
          role="button">Trail Map</a>
                </li>

      </ul>
    </div>
  </nav>
</header>
