<header>
  <nav class="navbar navbar-expand-md">

    <a class="navbar-brand" href="https://mariposatrails.org/">
      <img src="/MariposaTrailsLogo_BasicDesign.png" width="130" height="130" alt="trails-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" id="navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whoweare">Who We Are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whatwedo">What We Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/involvement">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donate">Donate</a>
        </li>
      </ul>
    </div>
  </nav>
</header>