<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Donations to the Maripos Trails organization are greatly appreciated and help keep our team geared up and ready to go out and maintain our local trails">
  <meta name="keywords" content="Mariposa,Trails,Hiking,Biking,
  non-profit,hikes,hikers,mariposatrails,volunteers,community">
  <title>Mariposa Trails Donations</title>
  <%- include("partials/styleLink") %>

<body>
  <%- include("partials/header") %>


  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-11">
          <br>
          <h2>Donations</h2>
          <hr>
          <p>Mariposa Trails works with our local partners to provide trail planning, maintenance expertise, project
            grant funding, and volunteer recruitment to augment lack of public funding for trails. Since 2014, Mariposa
            trails has contributed thousands of hours of volunteer work and helped rebuild public trails that would not
            have been maintained without us. Without equipment, match funds for grants, and admin support, however, the
            work our volunteers perform would not happen. That’s why donations, fundraising and support from local
            businesses is so important. Your financial support is a crucial part of the success of Mariposa Trails. You
            can donate online or through the mail.
          </p>
          <a class="btn btn-sm btn-primary register-btn" target="_blank" href="https://forms.gle/JukYrab34LsFZEss8"
            role="button">Sign up</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-11">
          <br>
          <h2>Memberships</h2>
          <hr>
          <p>Membership is free. Recognizing the value that volunteers bring to Mariposa Trails, we are committed to
            offering events at no cost to them; volunteers should not have to pay to participate. Plus, Mariposa Trails
            actively seeks ways to support volunteer efforts by seeking food and gas vouchers, and by supplying
            delicious refreshments at the end of all trail work days.
          </p>
          <a class="btn btn-sm btn-primary register-btn" target="_blank" href="https://forms.gle/JukYrab34LsFZEss8"
            role="button">Sign up</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-11">
          <br>
          <h2>Private Donations</h2>
          <hr>
          <p>options include:</p>
          <ul>
            <li>Annual</li>
            <li>Monthly</li>
            <li>One Time</li>
          </ul>
          <a class="btn btn-sm btn-primary register-btn" target="_blank" href="https://forms.gle/JukYrab34LsFZEss8"
            role="button">Sign up</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-11">
          <br>
          <h2>Business Sponsorship</h2>
          <hr>
          <p>As a non-profit organization, the work Mariposa Trails accomplishes is a benefit to our citizens, our
            community and lands. There are many ways your business can help us implement our mission, including:
          </p>
          <ul>
            <li>advertising on our webpage</li>
            <li>offering vouchers to our trail volunteers,</li>
            <li>sponsor a work outing, or</li>
            <li>adopt-a-trail</li>
          </ul>
          <a class="btn btn-sm btn-primary register-btn" target="_blank" href="https://forms.gle/JukYrab34LsFZEss8"
            role="button">Sign up</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-11">
          <br>
          <h2>Adopt-a-Trail Sponsorship</h2>
          <hr>
          <p>Helping to fund work on one of your favorite places or trail is a great reason and great way to support our
            work and the volunteers that make it happen. Please contact us with your request.
          </p>
          <a class="btn btn-sm btn-primary register-btn" target="_blank" href="https://forms.gle/JukYrab34LsFZEss8"
            role="button">Sign up</a>
        </div>
      </div>
    </div>

  </main>
  <%- include("partials/footer") %>


</html>