<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="All Mariposa Trail events are open to the community. From day trips to more advanced overnight ventures there are many opportunities to volunteer.">
  <meta name="keywords" content="Mariposa,Trails,Hiking,Biking,
  non-profit,hikes,hikers,mariposatrails,volunteers,community">
  <title>Upcoming Trails Events</title>
  <%- include("partials/styleLink") %>

<body>
  <%- include("partials/header") %>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Activity and Awards</h1>
        <p class="lead text-muted">Our organization is known for getting things done - and, we have fun doing it!</p>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-11">
          <br>
          <h2>Event Portal</h2>
          <hr>
          <p>Mariposa Trails offers an array of volunteer opportunities and events throughout the year. To learn more
            and to sign-up for an event, <a href="/involvement">Sign Up Here <span class="sr-only">(current)</span></a>.
            Sign up early and sign up often.
          </p>
        </div>
      </div>
    </div>

    <div class="album py-5">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Year: 2018">
                <title>2018</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">2018</text>
              </svg>
              <div class="card-body">
                <p class="card-text"></p>
                <ul>
                  <li>Grants: National Forest System Trail Stewardship Partnership Funding</li>
                  <li>Number of Outings: 9</li>
                  <li>Volunteer Hours: 514</li>
                  <li>Trails Worked On: 3</li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Year: 2019">
                <title>2019</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">2019 </text>
              </svg>
              <div class="card-body">
                <p class="card-text"></p>
                <ul>
                  <li>Grants: </li>
                  <li>Number of Outings: </li>
                  <li>Volunteer Hours: </li>
                  <li>Trails Worked On: </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <%- include("partials/footer") %>

</html>