<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mariposa Trails is a non-profit organization whose volunteers are at its heart, shaping its vision,
  enlivening its mission, and achieving its goal to maintain and promote recreational trail access for hikers,
  runners, cyclists, equestrians and others by tending the trails, promoting fitness & community, expanding
  the local economy, teaching youth, and advocating for trails">
  <meta name="keywords" content="Mariposa,Trails,Hiking,Biking,
  non-profit,hikes,hikers,mariposatrails,volunteers,community">
  <title>Mariposa Trails</title>
  <%- include("partials/styleLink") %>

<body>
  <%- include("partials/header") %>
  <main role="main">
    <div class="landing-row">
      <div class="landing-column">
        <img src="/banner_a.jpg" alt="team-pose" style="width:100%">
      </div>
      <div class="landing-column">
        <img src="/banner_b.jpg" alt="group-selfie" style="width:100%">
      </div>
      <div class="landing-column">
        <img src="/banner_c.jpg" alt="slow-turtle" style="width:100%">
      </div>
    </div>

    <div class="container" style="padding-top: 80px;">
      <div class="row">
        <div class="col-sm" style="float: none; display: block; margin:0 auto;">
          <h5>OUR PHILOSOPHY</h5>
          <p>We create and maintain a lasting trail network in Mariposa County through initiatives and programs that
            create space and activities that benefit the health of the individual, the prosperity of the community and
            our relationship with nature.</p>
        </div>
        <div class="col-sm" style="float: none; display: block; margin:0 auto;">
          <h5>What We Do</h5>
          <p>We maintain and promote recreational trail access for hikers, runners, cyclists, equestrians and others by
            tending the trails, promoting fitness & community, expanding the local economy, teaching youth, and
            advocating for trails.</p>
        </div>
        <div class="col-sm" style="float: none; display: block; margin:0 auto; text-align: center;">
          <h5>Upcoming Events</h5>
          <p>December ----</p>
          <p>December ------</p>
          <p>December ---</p>
          <p>January -------</p>
          <p>January --</p>
          <a class="btn btn-sm btn-primary register-btn" target="_blank" href="https://forms.gle/JukYrab34LsFZEss8"
            role="button">Sign up</a>


        </div>
      </div>
    </div>
    <%- include("partials/footer") %>


  </main>

</html>