<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="The Mariposa Trails non-profit helps restore, maintain and discover trails in the sierra foothills. We provide opportunities to learn about the local area and volunteer to help build up hiking trails in and around the community">
  <meta name="keywords" content="Mariposa,Trails,Hiking,Biking,
  non-profit,hikes,hikers,mariposatrails,volunteers,community">
  <title>About Maripos Trails</title>
  <%- include("partials/styleLink") %>


<body>
  <%- include("partials/header") %>


  <main role="main">

    <!--Top Banner-->
    <div class="container">
      <img src="/overview_map.jpg"></img>
    </div>

    <!--What We Do-->
    <div class="container">
      <div class="row">
        <div class="col-11">
          <h2>Mariposa Trails Working Groups</h2>
          <hr>
          <p>Mariposa Trails is a non-profit organization whose volunteers are at its heart, shaping its vision,
            enlivening its mission, and achieving its goal to maintain and promote recreational trail access for hikers,
            runners, cyclists, equestrians and others by tending the trails, promoting fitness & community, expanding
            the local economy, teaching youth, and advocating for trails
          </p>
          <br>
        </div>
      </div>
    </div>


    <!--Tending Trails-->
    <div class="container" style="height: 500px;">
      <div class="row">
        <div class="col-5">
          <h2>Tend the Trails</h2>
          <hr>
          <p>While Mariposa County is home to Yosemite National Park, it also contains other public lands that are
            closer to its citizens and less crowded. Mariposa Trails has stepped up to tend front-country trails for the
            enjoyment of all types of nature-based recreation, including hikers, cyclists, runners, equestrian and
            off-highway vehicles. Most outings are in the fall and winter, when the soil is soft, the air is cool, and
            bugs are nowhere to be seen!
          </p>

        </div>
        <div class="col-7">
          <img src="/Trailwork2.jpg" alt="trailwork" class="topo-circle" style="max-width: 80%;">
        </div>

      </div>
    </div>

    <!--Promote Fitness and Community-->
    <div class="container" style="height: 500px;">
      <div class="row">
        <div class="col-5">
          <h2>Promote Fitness and Community</h2>
          <hr>
          <p>The opportunity to enjoy the natural world by residents and tourists alike is a big reason why Mariposa
            Trails creates and maintains a trail network. Coupled with this work, Mariposa Trails actively collaborates
            and engages the community to recreate on these trails through sponsored hikes and tours. </p>
          </p>

        </div>
        <div class="col-7">
          <img src="/Recreate4.jpg" alt="yosemite" class="topo-circle" style="max-width: 80%;">
        </div>

      </div>
    </div>
    <!--Expand the Local Economy-->
    <div class="container" style="height: 500px;">
      <div class="row">
        <div class="col-5">
          <h2>Expand the Local Economy</h2>
          <hr>
          <p>The economy of Mariposa is rooted in the abundant richness of its land, whivh attracts and nourishes
            tourists and residents alike. These lands provide opportunities for trail-based activities, such as
            endurance runs, bicycle races, multisport events, and associated enterprises. Proceeds from these events are
            used by Mariposa Trails to maintain and improve the trail network, as well as fund its programs and
            initiatives. </p>
          </p>

        </div>
        <div class="col-7">
          <img src="" alt="local economy" class="topo-circle" style="max-width: 80%;">
        </div>

      </div>
    </div>
    <!--Teach Youth-->
    <div class="container" style="height: 500px;">
      <div class="row">
        <div class="col-5">
          <h2>Teach Youth</h2>
          <hr>
          <p>Mariposa Trails seeks to involve local youth and area college students in its endeavors to improve their
            physical and mental health, and to expand their knowledge and skills. For example, Mariposa County High
            School students crafted the post-fire South Fork Trail Signs, and students from Central Valley Universities
            regularly participate in multi-day trail stewardship outings. </p>
          </p>

        </div>
        <div class="col-7">
          <img src="/Educate2.jpg" alt="yosemite" class="topo-circle" style="max-width: 80%;">
        </div>

      </div>
    </div>
    <!--Advocate for Trails-->
    <div class="container" style="height: 500px;">
      <div class="row">
        <div class="col-5">
          <h2>Advocate for Trails</h2>
          <hr>
          <p>The condition of trails is largely defined by the attention given to them by government agencies and their
            planning documents. Hence, Mariposa Trails seeks to form strong and positive partnerships with government
            agencies; to be active participants in the development and implementation of planning documents; and, to
            encourage and support community and local partner involvement in all planning efforts related to local
            trails. </p>
        </div>
        <div class="col-7">
          <img src="/Advocate2.JPG" alt="hiking advocates" class="topo-circle" style="max-width: 80%;">
        </div>

      </div>
    </div>

  </main>
  <%- include("partials/footer") %>


</html>