<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="The Mariposa Trails non-profit is made up of individuals from the sierra foothills community and the surrounding areas.">
  <meta name="keywords" content="Mariposa,Trails,Hiking,Biking,
  non-profit,hikes,hikers,mariposatrails,volunteers,community">
  <title>Our Team</title>

  <%- include("partials/styleLink") %>


<body>
  <%- include("partials/header") %>


  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>Beginnings</h2>
          <hr>
          <p>In October 2014, Bill King and Walter Wall backpacked a challenging 25 miles from Wawona to Savage’s
            Trading Post via the notorious South ForkMerced River Trail to witness the lore of poison oak, heat,
            rattlesnakes and forgotten trails. What they experienced was a canyon rich in wilderness qualities and
            marked with alluring cultural mystery. The trail, however, was vanishing, subjected to nature’s cycle of
            rain, erosion, fires and regrowth of plants. The South Fork Trailblazer volunteer group was formed soon
            thereafter, and in partnership with the Upper Merced River Watershed Council and the Sierra National Forest,
            the local community began to refurbish the trails in the South Fork watershed. By 2019, the scope of the
            Trailblazers expanded for reasons that reflected the interests of the community- namely for health,
            prosperity and enjoyment of our public lands, and Mariposa Trails was formed.</p>
          <br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>Our Vision</h2>
          <hr>
          <p>""All things in the world are two. In our minds, we are two- good and evil. With our eyes we see two
            things- things that are fair and things that are ugly. We have the right hand that strikes and makes evil
            and the left hand full of kindness near the heart. One foot may lead us to an evil way, the other foot may
            lead us to good. So are all things two, all two." -- Eagle Chief - Pawnee</p>

          </p>Being accountable in the relationship between "taking" and "giving" from the land is foundational to the
          work of Mariposa Trails. Mariposa Trails recognizes the gifts from nature and embraces the idea of "paying it
          forward," knowing that our health, prosperity and enjoyment are rooted in our access to the earth, and our
          care of it. </p>
          <br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>Mission Statement</h2>
          <hr>
          <p>In partnership with public and private entities, Mariposa Trails works to create and maintain a lasting
            trail network in Mariposa County through initiatives and programs that create space and activities that
            benefit the health of the individual, the prosperity of the community and our relationship with nature.</p>
          <br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3 text-center">
          <br>
          <h2>NAME</h2>
          <hr>
          <img src="/about-bill.jpeg" alt="leader1" class="leaders">
          <br>
          <br>
          <p>add a pic and statement of the director and associate director.</p>
          <br>
        </div>
        <div class="col-3 text-center">
          <br>
          <h2>NAME</h2>
          <hr>
          <img src="/about-bill.jpeg" alt="leader2" class="leaders">
          <br>
          <br>
          <p>add a pic and statement of the director and associate director.</p>
          <br>
        </div>
        <div class="col-3 text-center">
          <br>
          <h2>NAME</h2>
          <hr>
          <img src="/about-bill.jpeg" alt="leader3" class="leaders">
          <br>
          <br>
          <p>add a pic and statement of the director and associate director.</p>
          <br>
        </div>
        <div class="col-3 text-center">
          <br>
          <h2>NAME</h2>
          <hr>
          <img src="/about-bill.jpeg" alt="leader4" class="leaders">
          <br>
          <br>
          <p>add a pic and statement of the director and associate director.</p>
          <br>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>Partners</h2>
          <hr>
          <p>Mariposa Trails believes that planning, building, maintaining and enjoying local trails takes community
            effort and works with non-profit partners, community organizations, government agencies and special
            districts to accomplish its vision, mission and goals.
          </p>
          <p><b>NON-PROFIT PARTNERS</b></p>
          <ul>
            <li>Upper Merced River Watershed Council</li>
          </ul>
          <p><b>COMMUNITY ORGANIZATIONS</b></p>
          <ul>
            <li>Mariposa Museum and History Center</li>
            <li>HumanityRunning.org (Merced Canyon Endurance Runs)</li>
          </ul>
          <p><b>GOVERNMENT AGENCIES AND SPECIAL DISTRICTS</b></p>
          <ul>
            <li>Sierra National Forest</li>
            <li>Mariposa Conservation District</li>
            <li>Mariposa County Unified School District</li>
          </ul>
          <br>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>Contact Us</h2>
          <hr>
          Please send comments and inquiries to ---------------
          <p>Mailing Address: P.O. Box 5008-201 Mariposa, CA 95338
            Email: MariposaTrails@-------------
            Phone or Text: 209-626-9898</p>
          <br>
        </div>
      </div>
    </div>
  </main>
  <%- include("partials/footer") %>

</html>